version: '3.4'

services:
  rucio:
    container_name: rucio-dev
    build:
      context: .
      dockerfile: ./Dockerfile
      target: debug
    ports:
      - 5679:5679
      - 443:443
    volumes:
      - ../tools:/opt/rucio/tools
      - ../bin:/opt/rucio/bin
      - ../lib:/opt/rucio/lib
      - /sys/fs/cgroup:/sys/fs/cgroup
      - ../etc/certs/ruciouser.pem:/opt/rucio/etc/usercert.pem:z
      - ../etc/certs/ruciouser.key.pem:/opt/rucio/etc/userkey.pem:z
      - ../etc/certs/ruciouser.certkey.pem:/opt/rucio/etc/usercertkey.pem:z
      - ../etc/certs/ssh/ruciouser_sshkey.pub:/root/.ssh/ruciouser_sshkey.pub:z
      - ../etc/certs/ssh/ruciouser_sshkey:/root/.ssh/ruciouser_sshkey:z
      - ../etc/certs/rucio_ca.pem:/etc/grid-security/certificates/5fca1cb1.0:z
    environment:
      - X509_USER_CERT=/opt/rucio/etc/usercert.pem
      - X509_USER_KEY=/opt/rucio/etc/userkey.pem
      - RDBMS=postgres11
      - RUCIO_HOST=rucio-maany.cern.ch #TODO change
    privileged: true
  ruciodb:
    image: docker.io/postgres:14
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_USER=rucio
      - POSTGRES_DB=rucio
      - POSTGRES_PASSWORD=secret
    command: ["-c", "fsync=off","-c", "synchronous_commit=off","-c", "full_page_writes=off"]
  graphite:
    image: docker.io/graphiteapp/graphite-statsd
    ports:
      - "127.0.0.1:8080:80"
  fts:
    image: docker.io/rucio/test-fts
    ports:
      - "127.0.0.1:8446:8446"
      - "127.0.0.1:8449:8449"
    volumes:
      - ../etc/certs/rucio_ca.pem:/etc/grid-security/certificates/5fca1cb1.0:z
      - ../etc/certs/hostcert_fts.pem:/etc/grid-security/hostcert.pem:Z
      - ../etc/certs/hostcert_fts.key.pem:/etc/grid-security/hostkey.pem:Z
  ftsdb:
    image: docker.io/mysql:8
    ports:
      - "127.0.0.1:3306:3306"
    command: --mysql_native_password=ON
    environment:
      - MYSQL_USER=fts
      - MYSQL_PASSWORD=fts
      - MYSQL_ROOT_PASSWORD=fts
      - MYSQL_DATABASE=fts
  xrd1:
    image: docker.io/rucio/test-xrootd
    ports:
      - "127.0.0.1:1094:1094"
    environment:
      - XRDPORT=1094
    volumes:
      - ../etc/certs/rucio_ca.pem:/etc/grid-security/certificates/5fca1cb1.0:z
      - ../etc/certs/hostcert_xrd1.pem:/tmp/xrdcert.pem:Z
      - ../etc/certs/hostcert_xrd1.key.pem:/tmp/xrdkey.pem:Z
    ulimits:
      nofile:
        soft: 10240
        hard: 10240
  xrd2:
    image: docker.io/rucio/test-xrootd
    ports:
      - "127.0.0.1:1095:1095"
    environment:
      - XRDPORT=1095
    volumes:
      - ../etc/certs/rucio_ca.pem:/etc/grid-security/certificates/5fca1cb1.0:z
      - ../etc/certs/hostcert_xrd2.pem:/tmp/xrdcert.pem:Z
      - ../etc/certs/hostcert_xrd2.key.pem:/tmp/xrdkey.pem:Z
    ulimits:
      nofile:
        soft: 10240
        hard: 10240
  xrd3:
    image: docker.io/rucio/test-xrootd
    ports:
      - "127.0.0.1:1096:1096"
    environment:
      - XRDPORT=1096
    volumes:
      - ../etc/certs/rucio_ca.pem:/etc/grid-security/certificates/5fca1cb1.0:z
      - ../etc/certs/hostcert_xrd3.pem:/tmp/xrdcert.pem:Z
      - ../etc/certs/hostcert_xrd3.key.pem:/tmp/xrdkey.pem:Z
    ulimits:
      nofile:
        soft: 10240
        hard: 10240
  xrd4:
    image: docker.io/rucio/test-xrootd
    ports:
      - "127.0.0.1:1097:1097"
    environment:
      - XRDPORT=1097
    volumes:
      - ../etc/certs/rucio_ca.pem:/etc/grid-security/certificates/5fca1cb1.0:z
      - ../etc/certs/hostcert_xrd4.pem:/tmp/xrdcert.pem:Z
      - ../etc/certs/hostcert_xrd4.key.pem:/tmp/xrdkey.pem:Z
    ulimits:
      nofile:
        soft: 10240
        hard: 10240
  minio:
    image: docker.io/minio/minio
    ports:
      - "127.0.0.1:9000:9000"
    environment:
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=password
    volumes:
      - ../etc/certs/hostcert_minio.pem:/root/.minio/certs/public.crt:Z
      - ../etc/certs/hostcert_minio.key.pem:/root/.minio/certs/private.key:Z
    command: ["server", "/data"]
  activemq:
    image: docker.io/webcenter/activemq:latest
    ports:
      - "127.0.0.1:61613:61613"
    environment:
      - ACTIVEMQ_CONFIG_NAME=activemq
      - ACTIVEMQ_CONFIG_DEFAULTACCOUNT=false
      - ACTIVEMQ_USERS_fts=supersecret
      - ACTIVEMQ_GROUPS_writes=fts
      - ACTIVEMQ_USERS_receiver=supersecret
      - ACTIVEMQ_GROUPS_reads=receiver
      - ACTIVEMQ_CONFIG_SCHEDULERENABLED=true
  ssh1:
    image: docker.io/rucio/test-ssh
    ports:
      - "127.0.0.1:2222:22"
    volumes:
      - ../etc/certs/ssh/ruciouser_sshkey.pub:/tmp/sshkey.pub:Z